$(function() {
  $('#user_form').empty().modal('hide');

  $('#subject_list').append('<div class="ui active loader"></div>');
  $('#profile_loader').addClass('active');

  setTimeout(function(){
    $('#subject_list').html("<%= escape_javascript(render(current_user.favored_subjects) || render('empty')) %>")
    $.ajax({url: '<%= users_profile_path(format: :js) %>'});
  }, 500);
});
