tbody id="daily_test_calendar_#{week}"
  - {1 => '영어듣기', 2 => '영어단어', 3 => '수학가형', 4 => '수학나형'}.each_pair do |problem_source_id, problem_source_name|
    - if [1,2].index(current_user.id).nil?
      - next if problem_source_id == 3 && current_user.liberal
      - next if problem_source_id == 4 && !current_user.liberal
    - collections = problem_collections.select{|c| c.problem_source_id == problem_source_id}
    tr.top.aligned
      td.one.wide.middle.aligned.center.aligned == problem_source_name
      - week_days = (start_date.to_date..end_date.to_date).select{|date| date.cweek == week}
      - [1,2,3,4,5,6,0].each do |index|
        - if !week_days.first.nil? && week_days.first.wday == index
          - date = week_days.shift
          - if date == Date.parse('2017-07-21')
            - if problem_source_id == 1
              td.two.wide.middle.aligned.center.aligned.clearfix rowspan="4"
                i.huge.send.blue.icon
                br
                br
                span.ui.green.label 썸머캠프 시작!
          - elsif date == Date.parse('2017-08-15')
            - if problem_source_id == 1
              td.two.wide.middle.aligned.center.aligned.clearfix rowspan="4"
                i.huge.map.signs.brown.icon
                br
                br
                span.ui.green.label 썸머캠프 종료!
          // - elsif date == Date.parse('2017-08-14')
          //   - if problem_source_id == 1
          //     td.two.wide.middle.aligned.center.aligned.clearfix style="background-color: rgba(0, 0, 50, 0.02);" rowspan="4"
          //       span.ui.label 종강 전날이니깐 skip 😎
          - elsif index == 6
            - if problem_source_id == 1
              td.two.wide.middle.aligned.center.aligned.clearfix style="background-color: rgba(0, 0, 50, 0.02);" rowspan="4" colspan="2"
                span.ui.label 주말이니깐<br>쉬엄쉬엄 하세요 😎
          - elsif index == 0
          - else
            td.two.wide.middle.aligned.center.aligned.clearfix class="#{'positive' if date == Date.today}"
              - date_collections = collections.select{|c| c.test_day == date}
              - date_collections.each do |problem_collection|
                == render 'calendar_item', problem_collection: problem_collection, score: problem_collection.score, start_date: start_date, end_date: end_date
        - else
          - if problem_source_id == 1
            td.two.wide.disabled style="background-color: rgba(0, 0, 50, 0.02);" rowspan="4"
